html, body {
  margin:0px;
  height:100%;
}

.box {
  background:red;
  height:100%;
}

.main{
  margin-top:70px;
  display:flex;
  flex-direction: row;
  width:100vw;
  /*justify-content: space-evenly;*/
  height:100vh;
}

.image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex: 1 1 0px;
  height:100vh;
}

.txt{
  font-size: 40px;
  color:aliceblue;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
}